In [18]:
import pandas as pd
import numpy as np

dataframe = pd.read_csv("Top240RestaurantsRecommandedInLosAngeles2023.csv")
dataframe

,Rank,CommentDate,Date,RestaurantName,Comment,Address,StarRating,NumberOfReviews,Style,Price
0,1,2023-09-16,2023-09-17,GRANVILLE,Great ambiance indoors and attentive staff. Re...,"8701 Beverly Blvd West Hollywood, CA 90048",4.4,2672,"American (New), Cocktail Bars",$$
1,1,2023-09-15,2023-09-17,GRANVILLE,Wrong wrong wrong. AIf you don't fit the Ty ...,"8701 Beverly Blvd West Hollywood, CA 90048",4.4,2672,"American (New), Cocktail Bars",$$
2,1,2023-09-07,2023-09-17,GRANVILLE,Bad service!! The worst servers. Marcos the ma...,"8701 Beverly Blvd West Hollywood, CA 90048",4.4,2672,"American (New), Cocktail Bars",$$
3,1,2023-09-06,2023-09-17,GRANVILLE,One of my absolute favorite places in WeHo for...,"8701 Beverly Blvd West Hollywood, CA 90048",4.4,2672,"American (New), Cocktail Bars",$$
4,1,2023-09-05,2023-09-17,GRANVILLE,Always a good experience and food is great.Tea...,"8701 Beverly Blvd West Hollywood, CA 90048",4.4,2672,"American (New), Cocktail Bars",$$
...,...,...,...,...,...,...,...,...,...,...
2376,240,2023-06-27,2023-09-17,Love Hour,"Amazing beef burgers, chickens sandwiches, sid...","532 S Western Ave Los Angeles, CA 90020",4.8,56,"Burgers, Food Stands, Bars",$$
2377,240,2023-06-07,2023-09-17,Love Hour,I had these on a pop-up location - really amaz...,"532 S Western Ave Los Angeles, CA 90020",4.8,56,"Burgers, Food Stands, Bars",$$
2378,240,2023-05-29,2023-09-17,Love Hour,Absolute best hamburger I've ever had. Friendl...,"532 S Western Ave Los Angeles, CA 90020",4.8,56,"Burgers, Food Stands, Bars",$$
2379,240,2023-05-20,2023-09-17,Love Hour,I LOVE LOVE HOUR. Might get the logo tatted on...,"532 S Western Ave Los Angeles, CA 90020",4.8,56,"Burgers, Food Stands, Bars",$$
2380,240,2023-05-11,2023-09-17,Love Hour,This easily became my new favorite burger join...,"532 S Western Ave Los Angeles, CA 90020",4.8,56,"Burgers, Food Stands, Bars",$$

In [19]:
dataframe.iloc[:, 9]

0       $$
1       $$
2       $$
3       $$
4       $$
        ..
2376    $$
2377    $$
2378    $$
2379    $$
2380    $$
Name: Price, Length: 2381, dtype: object

In [7]:
dataframe.describe()

              Rank   StarRating  NumberOfReviews
count  2381.000000  2381.000000      2381.000000
mean    120.173457     4.304662      1141.541369
std      68.925564     0.312753      1531.834833
min       1.000000     3.500000         2.000000
25%      61.000000     4.100000       129.000000
50%     119.000000     4.300000       518.000000
75%     180.000000     4.500000      1623.000000
max     240.000000     5.000000     10020.000000

In [6]:
dataframe.isna().sum()

Rank                 0
CommentDate          0
Date                 0
RestaurantName       0
Comment              0
Address             10
StarRating           0
NumberOfReviews      0
Style                0
Price              636
dtype: int64